*{
    margin: 0;
    padding: 0;
    box-sizing: border-box5;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.container1{
    background-color: rgba(255, 208, 0, 0.918);
    border: 2px solid purple;
    height: 324px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.container2{
    border:  2px solid purple;
    height: 324px;
    width: 400px;

}
.first1{
    display: flex;
    height: 54px;
    justify-content: space-around;
    background-color: blueviolet;
    color: rgba(255, 208, 0, 0.918) ;
    align-items: center;

}
.first2{

    display: flex;
    align-items: center;
    background-color: rgb(253, 250, 255);
    color: rgba(69, 56, 145, 0.918) ;
    height: 54px;
    justify-content: space-around;
}
.first3{
    display: flex;
    align-items: center;
    background-color: rgb(207, 30, 154);
    color: rgba(255, 255, 255, 0.918) ;
    height: 54px;
    justify-content: space-around;
}
.first4{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: rgba(255, 208, 0, 0.918) ;
    height: 54px;
    justify-content: space-around;
}
.first5{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgba(109, 31, 145, 0.918) ;
    height: 54px;
    justify-content: space-around;
}
.first6{
    display: flex;
    align-items: center;
    background-color: rgb(207, 30, 154) ;
    color: rgba(255, 255, 255, 0.918) ;
    height: 54px;
    justify-content: space-around;
}


.header{
    color: blueviolet;
    padding: 20px;
}
.ikon{
    margin-left: 8px;
    padding:15px ;
    display: flex;
    gap: 10px;
}
.container__icon{
    margin-left: 30px;
    padding: 15px;
}